.home-intro {
  &__wrapper {
    position: relative;
    // z-index: -1;
  }
  &__img {
    position: relative;
    height: 97.1rem;
    z-index: 2;
    @media screen and (max-width: 992px) {
      height: 70rem;
    }
    @media screen and (max-width: 576px) {
      height: 60rem;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    position: absolute;
    top: 24.5%;
    left: 19.7%;
    padding: 4.4rem 0 5.1rem 2.8rem;
    width: 74.1rem;
    color: white;
    border-left: 4px solid var(--accent);
    z-index: 3;
    @media screen and (max-width: 992px) {
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 12.2rem;
      height: 4px;
      background: var(--accent);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      display: block;
      margin-bottom: 2.2rem;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  &__title {
    margin-bottom: 3.1rem;
    font-family: "Space Grotesk";
    font-size: 9.6rem;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    @media screen and (max-width: 992px) {
      font-size: 4rem;
    }
    strong {
      color: var(--accent);
    }
  }
  &__subtitle {
    font-size: 2rem;
    font-weight: 700;
  }
  &__socials {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 3;
  }
  &__footer {
    position: absolute;
    top: 80%;
    left: 25%;
    z-index: 3;
    cursor: pointer;
    span {
      padding: 0 1.9rem;
      display: inline-block;
      font-family: var(--font-2);
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.4rem;
      letter-spacing: 0.4rem;
      color: var(--text-gray);
      text-transform: uppercase;
      &.active {
        color: white;
      }
      &:first-child {
        border-right: 1px solid var(--text-gray);
      }
    }
  }
  &__body {
    position: relative;
    bottom: 14.9rem;
    display: flex;
    justify-content: flex-end;
    height: 15rem;
    z-index: 3;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex: 0 0 35.8rem;
    background: var(--color-bg);
    @media screen and (max-width: 992px) {
      flex: 1;
    }
  }
  &__number {
    font-family: var(--font-2);
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    &.active {
      color: var(--accent);
    }
  }
  &__text {
    width: 11.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
  }
}
