.home-intro {
  &__img {
    position: relative;
    height: 97.1rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    position: relative;
    top: 33.1%;
    left: 21.3%;
    width: 74.1rem;
    color: white;
    z-index: 2;
    &::before {
      content: "";
      position: absolute;
      top: -4.6rem;
      left: -3rem;
      width: 100%;
      height: 135%;
      background: url("../i/svg/home-intro.svg") no-repeat;
      z-index: 3;
    }

    span {
      display: block;
      margin-bottom: 2.2rem;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  &__title {
    margin-bottom: 3.1rem;
    font-family: "Space Grotesk";
    font-size: 9.6rem;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    strong {
      color: var(--accent);
    }
  }
  &__subtitle {
    font-size: 2rem;
    font-weight: 700;
  }
  &__socials {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 3;
  }
  &__footer {
    position: absolute;
    bottom: 4.5rem;
    left: 25%;
    z-index: 3;
    span {
      padding: 0 1.9rem;
      display: inline-block;
      font-family: var(--font-2);
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.4rem;
      letter-spacing: 0.4rem;
      color: var(--text-gray);
      text-transform: uppercase;
      &.active {
        color: white;
      }
      &:first-child {
        border-right: 1px solid var(--text-gray);
      }
    }
  }
  &__body {
    position: relative;
    bottom: 14.9rem;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    height: 15rem;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex: 0 0 35.8rem;
    background: var(--color-bg);
  }
  &__number {
    font-family: var(--font-2);
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    &.active {
      color: var(--accent);
    }
  }
  &__text {
    width: 11.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
  }
}
