header.main-header
    .container
        .main-header__wrap
            .main-header__logo
                include ../blocks/icons/logo-header
            .main-header__menu
                include menu
            .main-header__btn.btn
                a(href="#") Book a consultation
            .main-header__lang
                span.active En
                span Ru
            .main-header__tel                
                a(href="tel:+72126742510" target="_blank") +7 (212) 674-25-10 
