section.home-intro
    .container
        .home-intro__wrapper
            .home-intro__content
                span Lorem ipsum
                h1.home-intro__title Welcome home #[strong to] luxury
                .home-intro__subtitle Book a consultation
            .home-intro__wrap 
                .home-intro__img
                    img(src="assets/i/home/home-intro/intro-bg-1.jpg", alt="")
                .home-intro__img
                    img(src="assets/i/home/home-intro/intro-bg-2.jpg", alt="")
                .home-intro__img
                    img(src="assets/i/home/home-intro/intro-bg-3.jpg", alt="")
                .home-intro__img
                    img(src="assets/i/home/home-intro/intro-bg-4.jpg", alt="")
            .home-intro__socials
                include ../icons/socials-home
            .home-intro__footer
                span.home-intro__arrow--prev prev
                span.home-intro__arrow--next next
            .home-intro__body
                .home-intro__item
                    .home-intro__number.active 01
                    .home-intro__text Lorem Ipsum Dolorem apset
                .home-intro__item
                    .home-intro__number 02
                    .home-intro__text Lorem Ipsum Dolorem apset
                .home-intro__item
                    .home-intro__number 03
                    .home-intro__text Lorem Ipsum Dolorem apset