.main-header {
  position: relative;
  padding: 1.8rem 0 2.6rem;
  z-index: 10;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__logo {
    position: relative;
    z-index: 3;
    margin-right: 12.7rem;
    @media screen and (max-width: 1100px) {
      margin-right: 7rem;
    }
    @media screen and (max-width: 992px) {
      margin-right: auto;
    }
  }
  &__menu {
    position: relative;
    margin-right: auto;
    @media screen and (max-width: 992px) {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background: var(--color-bg);
      z-index: 2;
      opacity: 0;
      pointer-events: none;
    }
    &.fixed {
      opacity: 1;
      pointer-events: initial;
    }
  }
  &__btn {
    position: relative;
    z-index: 1;
    max-width: 16.5rem;
    color: #000;
    @media screen and (max-width: 992px) {
      margin-bottom: 3.8rem;
    }
  }
  &__lang {
    position: relative;
    margin-left: 11.9rem;
    font-family: var(--font-2);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-gray);
    text-transform: uppercase;
    z-index: 1;
    span:not(:first-child) {
      margin-left: 0.8rem;
    }
    & span.active {
      color: var(--accent);
    }
    @media screen and (max-width: 1100px) {
      margin-left: 6rem;
    }
  }
  &__phone {
    position: relative;
    margin-left: 5.3rem;
    font-family: var(--font-2);
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    z-index: 1;
    &:hover {
      color: var(--accent);
    }
    @media screen and (max-width: 992px) {
      display: block;
      margin-bottom: 4.4rem;
      margin-left: 0;
    }
  }
  &__contacts {
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
      padding-top: 3.8rem;
    }
  }
}

