.main-header {
  position: relative;
  padding: 1.8rem 0 2.6rem;
  z-index: 10;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__logo {
    position: relative;
    z-index: 11;
    margin-right: 12.7rem;
    @media screen and (max-width: 1100px) {
      margin-right: 7rem;
    }
  }
  &__menu {
    position: relative;
    margin-right: auto;
    // z-index: 10000000;
  }
  &__btn {
    position: relative;
    z-index: 11;
    max-width: 16.5rem;
    color: #000;
  }
  &__lang {
    position: relative;
    z-index: 11;
    margin-left: 11.9rem;
    font-family: var(--font-2);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-gray);
    text-transform: uppercase;
    span:not(:first-child) {
      margin-left: 0.8rem;
    }
    & span.active {
      color: var(--accent);
    }
    @media screen and (max-width: 1100px) {
      margin-left: 6rem;
    }
  }
  &__phone {
    position: relative;
    z-index: 11;
    margin-left: 5.3rem;
    font-family: var(--font-2);
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    &:hover {
      color: var(--accent);
    }
    @media screen and (max-width: 992px) {
      margin-right: 2.7rem;
    }
  }
  @media screen and (max-width: 768px) {
  }
}
