.menu {
  position: relative;
  z-index: 10;
  &__list {
    display: flex;
    & > li {
      padding: 2rem 0 2rem;
    }
  }
  &__link {
    position: relative;
    margin: 0 2.5rem;
    font-family: var(--font-2);
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    line-height: normal;
    text-transform: uppercase;
    &--arrow:before {
      content: "";
      position: absolute;
      top: 50%;
      right: -1.6rem;
      transform: translateY(-50%);
      border-style: solid;
      border-width: 0.5rem 0.5rem 0 0.5rem;
      border-color: #fff transparent transparent transparent;
    }
    &:hover {
      color: var(--accent);
    }
    &:hover:after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--accent);
    }
    &--arrow:hover:after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 160%;
      height: 2px;
      background: var(--accent);
    }
  }
  &__has-children {
    position: relative;
    // pointer-events: initial;
    &:hover .menu__sub-menu {
      display: block;
    }
  }
  &__sub-menu {
    position: absolute;
    top: 90%;
    left: 2.2rem;
    width: 24.7rem;
    background: var(--color-bg);
    display: none;
    // pointer-events: none;
    border: 1px solid #979797;
    background: var(--color-bg);
    & a {
      padding: 1rem 2rem;
      display: block;
      font-family: var(--font-2);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      color: #fff;
      line-height: normal;
      cursor: pointer;
    }
    & a:hover {
      color: var(--color-bg);
      background: var(--accent);
    }
  }
  @media screen and (max-width: 992px) {
    &__list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // padding: 18.2rem 0 0 40%;
      display: flex;  
      flex-direction: column;
      background: var(--color-bg);
      opacity: 0;
      pointer-events: none;
      &.fixed {
        opacity: 1;
        pointer-events: initial;
        z-index: 10000000;
      }
    }
    &__item {
      padding: 2rem 0;
    }
    & a {
      font-family: var(--font-2);
      font-size: 3.6rem;
      font-weight: 600;
      line-height: normal;
      color: #fff;
      text-transform: uppercase;
    }
  }
  @media screen and (max-width: 992px) {
    &__has-children {
      position: relative;
      &:hover {
        margin-bottom: 10rem;
      }
    }
    .menu__sub-menu {
      width: 26rem;
      border: none;
      display: none;
      & a {
        font-family: var(--font-2);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: normal;
        color: #fff;
        @media screen and (max-width: 992px) {
          &:hover {
            color: var(--color-bg);
          }
        }
      }
    }
  }
}
